---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate}</p>
  <p>{frontmatter.description}</p>
  <img src={frontmatter.url} alt="" />
  <slot />
  <p>Written by {frontmatter.author}</p>
</BaseLayout>
